<% if (user) { %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Course Management System</a>

  <div class="dropdown ml-auto">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i>
      <%=user.name%>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/users">
        <i class="fa fa-users"></i>
        Users
      </a>
      <a class="dropdown-item" href="#">
        <i class="fa fa-graduation-cap"></i>
        Courses
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/users/<%=user.id%>/edit">
        Profile
      </a>
      <a class="dropdown-item" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<% } else { %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Course Management System</a>
</nav>
<% } %>