<%- contentFor('content') %>
<h1 style="text-align: center">Sorry! The page you have requested does not exist.</h1>
<div style="text-align:center; margin-top: 2rem; margin-bottom: 2rem;">
  <a href="/">Go Back to Homepage</a>
</div>
