<% layout('layout') -%>
<div class="container">
  <h1 class="text-center mt-3 mb-3">Sorry! The page you have requested does not exist.</h1>
  <div class="text-center mt-3 mb-3">
    <a href="/">Go Back to Homepage</a>
  </div>
</div>
