<%- contentFor('content') %>
<h1 style="text-align: center">Something went wrong</h1>
<div style="text-align:center; margin-top: 2rem; margin-bottom: 2rem;">
  <a href="/">Go Back to Homepage</a>
</div>
