<%- contentFor('content') %>
<div class="container">
  <h1 class="text-center mt-3 mb-3">Something went wrong</h1>
  <div class="text-center mt-3 mb-3">
    <a href="/">Go Back to Homepage</a>
  </div>
</div>
