<% layout('layout') -%>
<div class="container">
  <h1 class="mt-3 mb-3"><%= forum.title %> forum for <%= semester_name %> <%= module_code %></h1>
  <%-partial('./partials/messages', messages)%>
</div>
