<% layout('layout') -%>
<div class="container">
  <h1 class="mt-3 mb-3"><%= group.name %> group for <%= semester_name %> <%= module_code %></h1>
  <%-partial('./partials/messages', { messages: flash() })%>
</div>
