<!DOCTYPE html>
<html>
  <head>
    <!-- TODO: CHANGE NAME -->
    <title>Course Management System</title>
    <% include ./partials/head %> <%-scripts%>
  </head>

  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <section>
      <%-body -%>
    </section>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
