<% layout('layout') -%>
<div class="container col-md-4 col-md-offset-4">
  <h1 class="text-center mt-3 mb-3">Update Module</h1>
  <%-partial('./partials/messages', messages)%>
  <form id="module_form" action="<%= modulePath(module.module_code)%>" role="form" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <div class="form-group">
      <label for="module_code">Module Code</label>
      <input
        type="text"
        class="form-control"
        id="module_code"
        name="module_code"
        required="required"
        aria-describedby="codeHelp"
        value="<%=module.module_code%>"
      />
      <small id="codeHelp" class="form-text text-muted">
        Once there are courses of this module, module code cannot be edited.
      </small>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
